apiVersion: v1
kind: Service
metadata:
  name: {{ include "vocal-remover.fullname" . }}-api
  labels:
    {{- include "vocal-remover.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    {{- include "vocal-remover.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
