apiVersion: v1
kind: Service
metadata:
  name: {{ include "vocal-remover.fullname" . }}-frontend
  labels:
    {{- include "vocal-remover.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    {{- include "vocal-remover.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
