{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vocal-remover.fullname" . }}-redis
  labels:
    {{- include "vocal-remover.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
  selector:
    {{- include "vocal-remover.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: redis
{{- end }}
